* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
body {
	background-color: #E6DDDE; /* Светло-серый цвет */
	height: 100vh;
	/* display: flex; */
	/* flex-direction: column; */
}
header {
	background-color: #8b8b8b; /* Серый цвет */
	padding: 20px;
}
.menu ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.content {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	height: 500px;
}
.logo {
	background-color: #c08ea2;
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	color: white;
}
.services {
	background-color: #45b5a7;
	width: 55%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 20px;
	overflow: hidden;
	position: relative;
}
.services-content {
	max-height: 100%;
	overflow-y: auto;
	width: 100%;
	padding-right: 10px;
}
.services-content h2 {
	text-align: center;
	color: white;
	font-size: 2em;
	margin-bottom: 20px;
}
.service-detail {
	margin-bottom: 20px;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	transition: transform 0.3s ease;
}
.service-detail:hover {
	transform: scale(1.05);
}
.service-detail a {
	text-decoration: none;
	color: #333;
}
.service-detail h3 {
	font-size: 1.5em;
	color: #333;
}
footer {
	background-color: #8b8b8b;
	text-align: center;
	padding: 15px;
	/* width: 100%; */
	font-size: 1.2em;
	color: white;
	/* margin: auto; */
	/* margin-bottom: 0; */
}
.master-item:hover {
	cursor: pointer;
}
.logo {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.username-display {
    margin-left: 15px;
    color: white;
}